:root {
    --cor-hover: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul.ol,li {
    list-style: none;
}
body {
    background-color: #ffffff;
    font-family: "Poppins", serif
}

.menu {
    background-color: #bebebe;
    color: white;
    display: flex;
    justify-content: end;
    gap: 16px;
    padding: 16px;
}
.menu a{
    padding: 8px;
    transition: 0.5s;

}
.menu a:hover{
    background-color: var(--cor-hover);
}

.menu img{
    height: 16px;

}

.card-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 16px;
    width: 250px;
    margin-top: 200px;
    height: 470px;
}

.card img {
    width: 80%;
    height: auto;
    border-bottom: 2px solid #ddd;
}
.card h3 {
    font-size: 16px;
    margin-top: 8px;
    color: #333;
}

.card p {
    margin-top: 15px;
    font-size: 14px;
    color: #333;
}
